<!-- The Kemb hotel homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.1-dist/css/bootstrap.min.css">
        <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
     <title>Kemb hotel</title>
</head>

<body>
    <header>
        <div class="row">
            
            <div class="col-sm-8 text-center display-6" id="company-name">The Kemb Hotel</div>
        </div>
    </header>


    